
<div class="vic-tab-content vic-modal-tab-content">
    {% if entity != null %}
        <div id="picker-{{entity}}" class="vic-tab-pane vic-active">

            {% block form_picker %}
                {{form_widget(form.entity)}}
            {% endblock form_picker %}
        </div>
        <div id="query-{{entity}}" class="vic-tab-pane">

        {% block form_query %}
            {{form_row(form.query)}}
        {% endblock form_query %}
        </div>
    {% else %}
        {{form_widget(form.content)}}
    {% endif %}
    {{form_rest(form)}}
</div>

{{form_rest(form)}}
{{form_errors(form)}}

